/* MAIN CONTAINER */
.signup-Rider {
  font-family: "Roboto", sans-serif;
  width: 50%;
  height: 100%;
  text-align: left;
}

/* FLEXING BOX */

.flex-container-rider,
.radios,
.age-radio,
.reg-pin {
  display: flex;
  flex-flow: row wrap;
}

.flex-container-rider {
  width: 90%;
  border: none;
  border: none;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 50px auto 50px auto;
}
.welcome-text-rider,
.name-rider {
  text-align: center;
  color: white;

  /* font-size: 4rem; */
}

.welcome-text-rider {
  width: fit-content;
  font-weight: bold;
  font-size: 3rem;
  margin: 50% auto 0;
}

.name-rider {
  font-family: "Joti one";
  width: fit-content;
  font-size: 6rem;
  font-weight: bolder;
  margin: 10% auto 0;
}

/* SIGNUP USING GOOGLE SECTION */

.flex-item-right {
  flex: 50%;
  margin: 0;
  background-image: linear-gradient(to right, #ff7171,#f0e4d7);
  /* width: 100%; */
  border: none;
  border-radius: 25px;
}

.content {
  margin-left: 50px;
}

.radios {
  flex: 25%;
  background-color: #126e82;
  margin-left: 5px;
}

.signup-with-rider {
  margin-top: 10px;
}



/* SIGNUP HERE SECTION */
.signup-here {
  position: relative;
  margin: 0 0 4%;
  width: 70%;
  color: black;
}
.age {
  flex: 20%;
}
.radio-items {
  flex: 5%;
  align-items: flex-end;
  background-color: rgb(151, 117, 117);
}

.google-api {
  margin-left: 50px;
}
.google-div {
  margin-bottom: 15px;
}
.signup-button {
  margin-left: 0%;
}
.signup-button-lg {
  width: 50px;
  margin: 10px 0;
}
.reg-pin-items1 {
  flex: 60%;
}
.reg-pin-items2 {
  flex: 20%;
  margin-left: 0px;
}

.operation-radius {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0px;
}

.upload-rider {
  color: black;
}
.floating-txt {
  font-size: 0.8rem;
  color: gray;
}

.register {
  padding: 10px;
  margin: 10px 0;
}

@media (max-width: 800px) {
  .flex-item-right {
    flex: 100%;
  }
  .flex-item-left-rider {
    display: none;
  }
  .flex-item-right {
    border-radius: 25px;
  }
}
input[type="radio"] {
  -webkit-appearance: radio;
}

#dvtext {
  display: none;
  /*margin-top: 30px*/
}
#chkYes:checked ~ #dvtext {
  display: block;
}

.tnc {
  color: rgb(37, 3, 3);
  font-weight: bold;
}

.req {
  color: red;
  font-weight: bold;
}
