.banner_image{
    padding-top: 50px;
    padding-bottom:90px;
    text-align: center;
    color: #f8f8f8;
    background-image: url('../../assests/Home1.jpg') no-repeat center;
    background-size: cover;
    background-attachment:fixed;
    width:100%;
    height:100%;
}
.banner_content{
  position: relative;
  padding-top: 3%;
  padding-bottom: 3%; 
  margin-left:7%;
  margin-right:10%;
  margin-bottom: 15%;
  margin-top:5%;
  background-color: rgba;
}
.content{
    padding-top:133px;
    margin-right:20%;
}